@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


:root{
    --cor1:#1f0202;
    --cor2:#BFA07A;
    --cor3:#680d0d;
    --cor4:#8C0821;
    --cor5:#000000;
    --fontepadão: Arial, Helvetica, sans-serif;
    --fontedestaque: 'Comfortaa', cursive;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--fontedestaque);
    color: var(--cor1);
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor1);
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    background-color: var(--cor2);
    width: 250px;
    height: 500px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;
    box-shadow: 0px 0px 10px var(--cor5);
    
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%,-50%);
}

div.img{
    background-image: url(img/photo.jpeg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    height: 200px;
    display: block;

}

div#formulario{
    padding: 10px;
    display: block;
}

div#formulario > h1{
    text-align: center;  
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 10px;
} 

form > div.campo{
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
 
}

div.campo > span{
    color: var(--cor1);
    font-size: 2em;
    height: 40px;
    padding: 5px;
}

div.campo > input{
    font-size: 1em;
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;    
    width:  calc(100% - 50px);
    transform:translateY(-14px);
}


form > input[type="submit"] { /*Botão entrar*/
    font-size: 1em;
    width: 49%;
    height: 50px;
    background-color: var(--cor3);
    color: var(--cor2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

form > input[type="submit"]:hover{
    background-color: var(--cor1);
}

form > .botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 49%;
    height: 50px;
    padding-top: 10px;
    margin-top: 5px;
    color: var(--cor1);
    border: 1px solid var(--cor1);
    border-radius: 5px;
    text-decoration: none;  
}

form > .botao:hover{
    background-color: var(--cor3);
    color:var(--cor2)
}



